body{
    margin: 0;
    padding: 0;
    background-color: #9a9b85;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    font-size: 45px;
    text-align: center;
    color: #656a56;
}

.button{
    border:black solid 2px;
    border-radius: 20px;
    padding: 10px;
    margin: 25px;
    align-items: center;
}

form{
    padding: 20px;
    background: rgba(255, 255, 255, 0.43);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.7px);
}

img{
    width: 110px;
    height: 110px;
}

.bla{
    display: flex;
    justify-content: center;
    align-items: center;
}

#todo{
    margin: 30px;
    align-items: center;
    justify-content: center;
}

button{
   color: #f0d9d1;
   background-color: #d68e97;
   border-radius: 15px;
   border: none;
   font-size: 15px;
   padding: 8px;
   position: relative;
   left: 92%;
   bottom: -8px;
   margin: 5px;
}

 button:hover{
    color: #d68e97;
    background-color: #f0d9d1;
 }

 input{
    border-radius: 5px;
    border: solid, #d68e97, 1px;
    color: #d68e97;
    
 }

  .input{
    border-radius: 5px;
    border: solid, #d68e97, 1px;
    color: #d68e97;
 }
