body{
    margin: 0;
    padding: 0;
    background-color: #9a9b85;
}

.h1{
    font-size: ;
    font-family: ;
    color: ;
}

.button{
    border:black solid 2px;
    border-radius: 20px;
    padding: 10px;
    margin: 25px;
    align-items: center;
}

form{
    margin-left: 20%;
    margin: 5%;
    padding: 20px;
    background: rgba(255, 255, 255, 0.43);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.7px);
}